.contact {
    background: black;
    display: flex;
    padding: 100px;
    flex-direction: column;
    align-items: center;
}

.contact .contactForm {
    position: relative;
    width: 700px;
    margin-top: 20px;
}

.contact .contactForm .row {

    width: 100%;
    display: flex;
}

.contact .contactForm .row .col50 {
    width: 50%;
    margin: 10px;
}
.contact .contactForm .row .col100 {
    width: 100%;
    margin: 10px;
    text-align: center;
}

.contact .contactForm .row input,
.contact .contactForm .row textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #111;
    color: white;
    font-size: 16px;
    resize: none;
}

.contact .contactForm .row textarea {
    height: 100px;
}

.contact .contactForm .row input[type="submit"] {
    background: cornflowerblue;
    color: white;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    max-width: 150px;
}